$border-radius: 0px;

$container-max-widths: (
  'sm': 540px,
  'md': 768px,
  'lg': 960px,
  'xl': 1440px,
);
$font-family-body: 'Mulish', sans-serif;
$font-family-headings: 'Montserrat', sans-serif;

$body-bg: linear-gradient(90deg, #081221, #03080f);
$panel-bg: #0e1a2b;
$input-bg: #182c47;
$btn-bg: #5692e8;
$text-color: #ffffff;
$text-grey: #b8b8b8;
